.boxbg {
	width: 700px;
	height: 700px;
	background-color: black;
}

.boxw1 {
	width: 140px;
	height: 190px;
	background-color: white;
	position: absolute;
}

.boxw2 {
	width: 140px;
	height: 260px;
	background-color: white;
	position: absolute;
}

.boxw3 {
	width: 450px;
	height: 160px;
	background-color: white;
	position: absolute;
}

.boxw4 {
	width: 50px;
	height: 70px;
	background-color: white;
	position: absolute;
}

.boxw44 {
	width: 5px;
	height: 20px;
	background-color: white;
	position: absolute;
}

.boxb1 {
	width: 140px;
	height: 160px;
	background-color: blue;
	position: absolute;
}

.boxr1 {
	width: 520px;
	height: 500px;
	background-color: red;
	position: absolute;
}

.boxy1 {
	width: 50px;
	height: 70px;
	background-color: yellow;
	position: absolute;
}

.boxy2 {
	width: 5px;
	height: 20px;
	background-color: yellow;
	position: absolute;
}